In [6]:
import pandas as pd
from sqlalchemy import create_engine
import os
from itertools import cycle

engine = create_engine("mysql+mysqlconnector://oskari:password@localhost/cms_db")

photos = pd.read_sql("house_photos", con=engine)

FOLDER_PATH ="real_estate_images_random"
TOTAL_HOUSES=10000
IMAGES_PER_HOUSE=5

image_files = [f"image_{i+1}.jpg" for i in range(len(os.listdir(FOLDER_PATH)))]
image_cycle = cycle(image_files) #folder end

data = []
photo_id = 1
for house_id in range(1, TOTAL_HOUSES +1):
    for _ in range(IMAGES_PER_HOUSE):
        image_name = next(image_cycle)
        photo_url = os.path.join(FOLDER_PATH, image_name)
        description = f"Photo of house {house_id}"
        data.append({"photo_id": photo_id, "photo_url":photo_url, "description":description, "house_id": house_id})
        photo_id += 1

df = pd.DataFrame(data)
df.head()

   photo_id                              photo_url       description  house_id
0         1  real_estate_images_random\image_1.jpg  Photo of house 1         1
1         2  real_estate_images_random\image_2.jpg  Photo of house 1         1
2         3  real_estate_images_random\image_3.jpg  Photo of house 1         1
3         4  real_estate_images_random\image_4.jpg  Photo of house 1         1
4         5  real_estate_images_random\image_5.jpg  Photo of house 1         1

In [8]:
df.to_sql("house_photos", con=engine, if_exists="replace", index=False)

50000